<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>display</title>
</head>
<body>
<img src=" {{url_for('send_image', filename=image_name)}}">
<h3>{{result}}<br>

</body>
</html>